<ol class="breadcrumb">
  <li><a href="{$url}">Trang chủ</a></li>
  <li><a href="{$url}index.php/main/hocsinh">Quản lý học sinh</a></li>
</ol>
<div class="panel-body">
					<center> 
                        <p><img src="{$url}resource/images/student1.png" width="75" height="76" /></p>
                        <h3><strong>Thông Tin Nhập Học</strong></h3>
                    </center>
             		<br>
             		<br>
					<div class="col-md-8 col-md-offset-1">
					 <form name="formhocsinh" method="post" action="" enctype="multipart/form-data" id="formcheck" class="form-horizontal">
	            	 	<div class="form-group">
	            	 		<img src="{$url}resource/images/student.png" class="col-md-1"/>
			            	<label class="col-md-2" class="control-label">Họ và Tên</label>
			            	<div class="col-md-5">
			            		<input class="form-control" type="text" name="ten" {if isset($detail)} value="{$detail.HOCSINH_ten}" {/if} class="validate[required, custom[onlyLetterSp]]" required/>
                                {if isset($hocsinhid)}<button type="button" class="btn btn-link"><a href="{$url}index.php/main/hocsinh/view_report/{$hocsinhid}">Xem báo cáo</a></button>{/if}
			            	</div>
			            </div>
                        <div class="form-group">
	            	 		<img src="{$url}resource/images/account.png" class="col-md-1"/>
			            	<label class="col-md-2" class="control-label">Tên đăng nhập</label>
			            	<div class="col-md-5">
			            		<input class="form-control" type="text"  {if isset($detail)} value="{$detail.username}" {else}value="Hệ thống sẽ tự động tạo"{/if} disabled/>
                                <button type="button" class="btn btn-link" id="resetpwd">Reset mật khẩu</button>
                                <input type="hidden" name="password" value="" id="newpwd"/>
			            	</div>
			            </div>
			            <div class="form-group" >
			            	 <img src="{$url}resource/images/calendar.png" class="col-md-1"/>
			            	 <label class="col-md-2" class="control-label">Ngày Sinh</label>
			            	 <div class="input-group input-append col-md-3">
                				<input type="text" class="form-control datepicker" name="ngaysinh" {if isset($detail)} value="{if $detail.HOCSINH_ngaysinh!='' && $detail.HOCSINH_ngaysinh!='0000-00-00' && $detail.HOCSINH_ngaysinh!='30-11--0001'}{date('d-m-Y', strtotime($detail.HOCSINH_ngaysinh))}{/if}"{/if}/>                                
                				<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
           				 	 </div>
			            </div>
			            <div class="form-group">
			            	 <img src="{$url}resource/images/gender.jpg" width="32" height="32" class="col-md-1"/>
			            	 <label class="col-md-2" class="control-label">Giới Tính</label>
			            	 	<div class="col-md-9">
                                  <label>
            <input name="gioitinh" type="radio" id="HOCSINH_gioitinh_0" value="1" {if isset($detail) && $detail.HOCSINH_gioitinh==1} checked {/if}>
            <img src="{$url}resource/images/male.png"></label>
          <label>
            <input type="radio" name="gioitinh" value="0" id="HOCSINH_gioitinh_1" {if isset($detail) && $detail.HOCSINH_gioitinh==0} checked {/if}>
            <img src="{$url}resource/images/female.png"></label>
                                </div>
			            </div>
			            <div class="form-group">
			            	 <img src="{$url}resource/images/picture.png" class="col-md-1"/>
			            	 <label class="col-md-2" class="control-label">Ảnh</label>
			            	 <div class="col-md-9">
                                <button class="btn btn-info" type="button" id="btnUpPic"><span class="glyphicon glyphicon-camera"></span> Tải ảnh</button> <span style="color:orange; font-style:italic">Bạn nên đổi tên ảnh trước khi tải lên. <br>Ví dụ tên ảnh: nguyenvannam-09-12-1999</span>
                                <img {if isset($detail)} src="{$url}{$detail.HOCSINH_anh}" {/if} id="myPic" style="{if isset($detail)==false} display:none; {else} display: block; {/if} max-width:150px; max-height:150px">
        <input type="hidden" name="anh" id="HOCSINH_anh" {if isset($detail)} value="{$detail.HOCSINH_anh}" {/if}>
        <input type="hidden" id="temp">
                             </div>
			            </div>
			            <div class="form-group">
			            	<img src="{$url}resource/images/house.png" class="col-md-1"/>
			            	<label class="col-md-2" class="control-label">Địa chỉ</label>
			            	<div class="col-md-9">
			            		<input class="form-control" type="text" name="diachi" {if isset($detail)} value="{$detail.HOCSINH_diachi}" {/if}/>
			            	</div>
			            </div>
			            <div class="form-group">
			            	<img src="{$url}resource/images/class.png" class="col-md-1"/>
			            	<label class="col-md-2" class="control-label">Lớp hiện tại</label>
			            	<div class="col-md-9">
			            		<input class="form-control" type="text" name="lophientai" id="HOCSINH_lophientai" {if isset($detail)} value="{$detail.HOCSINH_lophientai}" {/if}/>
			            	</div>
			            </div>
			            <div class="form-group">
			            	<img src="{$url}resource/images/school.png" width="32" height="32" class="col-md-1"/>
			            	<label class="col-md-2" class="control-label">Trường hiện tại</label>
			            	<div class="col-md-9">
			            		<input class="form-control" type="text" name="truonghientai" id="HOCSINH_truonghientai" {if isset($detail)} value="{$detail.HOCSINH_truonghientai}" {/if}/>
			            	</div>
			            </div>
			            <div class="form-group">
			            	 <img src="{$url}resource/images/calendar.png" class="col-md-1"/>
			            	 <label class="col-md-2" class="control-label">Ngày nhập học</label>
			            	 <div class="input-group input-append col-md-3" id="datepicker">
                				<input type="text" class="form-control datepicker" name="ngaynhaphoc" {if isset($detail)} value="{if $detail.HOCSINH_ngaynhaphoc!='' && $detail.HOCSINH_ngaynhaphoc!='0000-00-00' && $detail.HOCSINH_ngaynhaphoc!='30-11--0001'}{date('d-m-Y', strtotime($detail.HOCSINH_ngaynhaphoc))}{/if}" {/if}/>                         
                				<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
           				 	 </div>
			            </div>
						<div class="form-group">
			            	 <img src="{$url}resource/images/calendar.png" class="col-md-1"/>
			            	 <label class="col-md-2" class="control-label">Ngày thôi học</label>
			            	 <div class="input-group input-append col-md-3" id="datepicker">
                				<input type="text" class="form-control datepicker" name="ngaythoihoc" {if isset($detail)} value="{if $detail.HOCSINH_ngaythoihoc!='' && $detail.HOCSINH_ngaythoihoc!='0000-00-00' && $detail.HOCSINH_ngaythoihoc!='30-11--0001'}{date('d-m-Y', strtotime($detail.HOCSINH_ngaythoihoc))}{/if}" {/if}/>                         
                				<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
           				 	 </div>
			            </div>			            <div class="form-group">
			            	<img src="{$url}resource/images/user.png" width="32" height="32" class="col-md-1"/>
			            	<label class="col-md-2" class="control-label">Bảo lãnh 1</label>
			            	<div class="col-md-3">
			            		<input type="text" class="form-control" name="tenbaolanh1" placeholder="Họ và tên" {if isset($detail)} value="{$detail.HOCSINH_tenbaolanh1}" {/if} required/>
			            	</div>
			            	<div class="col-md-3">
			            		<input type="email" class="form-control" name="emailbaolanh1" placeholder="Email" {if isset($detail)} value="{$detail.HOCSINH_emailbaolanh1}" {/if} class="validate[custom[email]]" required/>
			            	</div>
			            	<div class="col-md-3">
			            		<input type="number" class="form-control" name="sdtbaolanh1" placeholder="Số điện thoại" {if isset($detail)} value="{$detail.HOCSINH_sdtbaolanh1}" {/if} class="validate[custom[phone],minSize[10]]]" required/>
			            	</div>
			            </div>
			            <div class="form-group">
			            	<img src="{$url}resource/images/user.png" width="32" height="32" class="col-md-1"/>
			            	<label class="col-md-2" class="control-label">Bảo lãnh 2</label>
			            	<div class="col-md-3">
			            		<input type="text" class="form-control" name="tenbaolanh2" placeholder="Họ và tên" {if isset($detail)} value="{$detail.HOCSINH_tenbaolanh2}" {/if}/>
			            	</div>
			            	<div class="col-md-3">
			            		<input type="email" class="form-control" name="emailbaolanh2" placeholder="Email" {if isset($detail)} value="{$detail.HOCSINH_emailbaolanh2}" {/if} class="validate[custom[email]]"/>
			            	</div>
			            	<div class="col-md-3">
			            		<input type="number" class="form-control" name="sdtbaolanh2" placeholder="Số điện thoại" {if isset($detail)} value="{$detail.HOCSINH_sdtbaolanh2}" {/if} class="validate[custom[phone],minSize[10]]"/>
			            	</div>                            
			            </div>
                        <div class="form-group">
			            	<img src="{$url}resource/images/school.png" width="32" height="32" class="col-md-1"/>
			            	<label class="col-md-2" class="control-label">Công thức sử dụng</label>
			            	<div class="col-md-5">
			            		<select name="camketid" class="form-control">
                                	<option value="">Không cam kết</option>
                                    {foreach $camket as $item}
                                    <option value="{$item.CONGTHUCCAMKET_id}" {if isset($detail) && $detail.CONGTHUCCAMKET_id==$item.CONGTHUCCAMKET_id} selected {/if}>Mã công thức: {$item.CONGTHUCCAMKET_id}</option>
                                    {/foreach}
                                </select><span style="color:red; font-style:italic; font-size:12px">(Khi chọn một công thức cam kết mới, tất cả công thức cam kết cũ sẽ chuyển về KHÔNG SỬ DỤNG)</span>
			            	</div>
			            </div>
                        <div class="form-group">
			            	<img src="{$url}resource/images/school.png" width="32" height="32" class="col-md-1"/>
			            	<label class="col-md-2" class="control-label">Trạng thái</label>
			            	<div class="col-md-3">
			            		<select name="trangthai" class="form-control">
                                	<option value="1" {if isset($detail) && $detail.HOCSINH_trangthai==1} selected {/if}>Đang học</option>
                                	<option value="0" {if isset($detail) && $detail.HOCSINH_trangthai==0} selected {/if}>Đóng băng</option>
                                </select>
			            	</div>
			            </div>
			            <div class="form-group">
			         		<div class="col-md-3 col-md-offset-0">
			            		  <button type="button" class="btn btn-link" id="phanlop"><span class="glyphicon glyphicon-tasks"></span> Phân lớp nhanh</button>
			            	</div>
			            </div>
			            
		            </div>	
 </div>
 {if isset($detail)}
  <div class="panel panel-primary filterable" style="height:250px; overflow-y:scroll;">
            			<div class="panel-heading">
               				 <h3 class="panel-title">Danh sách lớp học hiện tại của học sinh <span class="badge"> {$tongsolophoccuahocsinh}</span></h3>
            			</div>
			              <table class="table table-hover">
			                  <thead>
			                      <tr class="filters">
								    <th width="7%" scope="col"><div align="center"><input type="text" class="form-control" placeholder="Tên lớp học" disabled></div></th>
                                    <th width="10%" scope="col"><div align="center"><input type="text" class="form-control" placeholder="Trạng thái" disabled></div></th>
                                    <th width="12%" scope="col"><div align="center"><input type="text" class="form-control" placeholder="Ngày bắt đầu" disabled></div></th>
                                    <th width="14%" scope="col"><div align="center"><input type="text" class="form-control" placeholder="Ngày kết thúc" disabled></div></th>
   		                        </tr>
			                  </thead>
			                  <tbody>
							    {foreach $lophoccuahocsinh as $thutu => $item}
			                      <tr>
                                       <td><div align="left"><a href="{$url}index.php/main/lophoc/view_list_student/{$item.LOPHOC_id}" target="_blank">{$item.LOPHOC_ten}</a></div></td>
                                        <td><div align="left">{if $item.LOPHOC_trangthai==1}<span style="color:green; font-weight:bold">Đang hoạt động</span>{else}<span style="color:red; font-weight:bold">Đóng băng</span>{/if}</div></td>
                                        <td><div align="left">{if $item.LOPHOC_ngaybatdau!=''}{date('d-m-Y', strtotime($item.LOPHOC_ngaybatdau))}{/if}</div></td>
                                        <td><div align="left">{if $item.LOPHOC_ngayketthuc!=''}{date('d-m-Y', strtotime($item.LOPHOC_ngayketthuc))}{/if}</div></td>
			                      </tr>
                                 {/foreach}				                    
				                </tbody>
			              </table>
  </div>
  {else}
 
  <!--------------Xếp lớp nhanh --------------->
<div class="panel panel-primary filterable xeplop" style="height:300px; overflow-y:scroll; display:none">
            			<div class="panel-heading">
               				 <h3 class="panel-title">Danh sách học lớp học đang hoạt động <span class="badge"> {$tongsolophoc}</span></h3>
            			</div>
			              <table class="table table-hover">
			                  <thead>
			                      <tr class="filters">
                                    <th width="5%" scope="col"><div align="center"><input type="checkbox" id="cbAll"></div></th>
								    <th width="7%" scope="col"><div align="center"><input type="text" class="form-control" placeholder="Tên lớp học" disabled></div></th>
                                    <th width="12%" scope="col"><div align="center"><input type="text" class="form-control" placeholder="Ngày bắt đầu" disabled></div></th>
                                    <th width="14%" scope="col"><div align="center"><input type="text" class="form-control" placeholder="Ngày kết thúc" disabled></div></th>
                                    <th width="10%" scope="col"><div align="center"><input type="text" class="form-control" placeholder="Ghi chú" disabled></div></th>
                                    <th width="7%" scope="col"><div align="left"><input type="text" class="form-control" placeholder="Sĩ số" disabled></div></th>
                                    <th width="10%" scope="col"><div align="center"><input type="text" class="form-control" placeholder="Cơ sở" disabled></div></th>
   		                        </tr>
			                  </thead>
			                  <tbody>
							    {foreach $lophoc as $thutu => $item}
			                      <tr>
                                       <td><div align="center">
                                         <input type="checkbox" name="lophocid[]" value="{$item.LOPHOC_id}" class="checkbox1">
                                       </div></td>
                                       <td><div align="left"><a href="{$url}index.php/main/lophoc/view_list_student/{$item.LOPHOC_id}" target="_blank">{$item.LOPHOC_ten}</a></div></td>
                                        <td><div align="left">{if $item.LOPHOC_ngaybatdau!='' && $item.LOPHOC_ngaybatdau!='0000-00-00' && $item.LOPHOC_ngaybatdau!='30-11--0001'}{date('d-m-Y', strtotime($item.LOPHOC_ngaybatdau))}{/if}</div></td>
                                        <td><div align="left">{if $item.LOPHOC_ngayketthuc!='' && $item.LOPHOC_ngayketthuc!='0000-00-00' && $item.LOPHOC_ngayketthuc!='30-11--0001'}{date('d-m-Y', strtotime($item.LOPHOC_ngayketthuc))}{/if}</div></td>
                                        <td>{$item.LOPHOC_ghichu}</td>
                                        <td><div align="left">{$item.Tongsohocsinh}</div></td>
                                        <td><div align="center">{$item.COSO_ten}</div></td>      
			                      </tr>
                                 {/foreach}				                    
				                </tbody>
			              </table>
  </div>
  {/if}
  <div class="form-group">
			         		<div class="col-md-3 col-md-offset-3">
                            	<button type="submit" name="formhocsinh" value="formhocsinh" onClick="return confirm('Bạn có chắc chắn?')" class="btn btn-success"><span class="glyphicon glyphicon-ok"> </span> Cập nhật</button>
			            	</div>
			            </div>
</form>

<script>
            $(function () { 
					$('#phanlop').click(function(e) {
					  $('.xeplop').toggle("slow");
					});
					
					$('#HOCSINH_ten').focus();
					//Tải ảnh	
				new AjaxUpload($('#btnUpPic'),{ 
					action : '{$url}index.php/main/upload/hocsinh/', //tên file xử lý upload
					name   :  'formup',//tên form up ảnh mà ajax sẽ tạo			
					onComplete: function(file, response) {
						//response(phản hồi) là những gì được echo từ file upload.php , ở đây ta echo lại đường dẫn của file đó rồi gán vào 1 hình ảnh
						if (response=='Error')
							alert ('Upload xảy ra lỗi: tệp tin không phải là ảnh hoặc hình ảnh có dung lượng quá lớn');
						else
						{
							$('#myPic').attr('src', '{$url}uploads/hocsinh/'+file).css('display','block'); 
							$('#HOCSINH_anh').val( 'uploads/hocsinh/' + file ); 
							//alert($('#HOCSINH_anh').val());
							alert ('Upload thành công');
						}
					}
				}); 
				//Reset mật khẩu
				$('#resetpwd').click(function(e) {
					alert('Mật khẩu đã được reset. Bạn hãy ấn nút Cập nhật để lưu lại');
                    $('#newpwd').val('123456');
                });
				
			});
</script>