

<a href="{$url}index.php/main/hocsinh/add"><img src="{$url}resource/images/new_student.jpg" width="130px" height="70px"></a>

<div class="alert alert-warning" role="alert" style="margin:10px 0"><span class="glyphicon glyphicon-warning-sign"> </span> Bạn có thể sử dụng chức năng Tìm kiếm để tìm kiếm nhanh một học sinh!</div>
<div class="col-md-12 col-md-offset-2 formsearch" style="display: none; color:white">
  <form class="form-horizontal" method="post" >
  <br>
       <div class="form-group">
                    <div class="col-md-2">
                    <input class="form-control" name="tenhocsinh" type="text" size="10" placeholder="Họ và tên"/>
                    </div>
                    <div class="col-md-2">
                      <input class="form-control" name="diachi" type="text"  size="10" placeholder="Địa chỉ"/>
                    </div>
                    <div class="col-md-2">
                      <input class="form-control" name="truonghientai" type="text" size="10" placeholder="Trường hiện tại"/>
                    </div>
                    <label class="col-md-2" class="control-label"> Trạng thái</label>
                    <div class="col-md-2">
                      <select class="form-control" name="trangthai">
                        <option value="all" selected>Tất cả</option>
                        <option value="1">Đang học</option>
                        <option value="0">Đóng băng</option>
                      </select>
                    </div>
       </div>
       <br>
       <div class="form-group">
                    <div class="col-md-2">
                      <input class="form-control" name="tenphuhuynh" type="text" size="10" placeholder="Tên phụ huynh"/>
                    </div>
                    <div class="col-md-2">
                      <input class="form-control" name="sdtphuhuynh" type="text" size="10" placeholder="Số điện thoại"/>
                    </div>
                    <div class="col-md-2">
                      <input class="form-control" name="emailphuhuynh" type="text" size="10" placeholder="Email"/>
                    </div>
                    <label class="col-md-2" class="control-label">Lớp</label>
                    <div class="col-md-2">
                      <select class="form-control" name="lophoc">
                        <option value="all">Tất cả</option>
                        {foreach $lophoc as $value}
                        <option value="{$value.LOPHOC_id}">{$value.LOPHOC_ten}</option>
                        {/foreach}
                      </select>
                    </div>
       </div>
       <br>
       <br>
       		  <div class="form-group">
                  <label class="col-md-2" class="control-label"> Ngày sinh</label>
                    <div class="col-md-2">
                      <input class="form-control datepicker2" name="ngaysinhfrom" type="text"  size="10" placeholder="Từ"/>
                    </div>
                    <div class="col-md-2">
                      <input class="form-control datepicker2" name="ngaysinhto" type="text" size="10" placeholder="Đến"/>
                    </div>
              </div>
       <br>
              <div class="form-group">
                  <label class="col-md-2" class="control-label"> Ngày nhập học</label>
                    <div class="col-md-2">
                      <input class="form-control datepicker" name="nhaphocfrom"  type="text" size="10" placeholder="Từ"/>
                    </div>
                    <div class="col-md-2">
                      <input class="form-control datepicker" name="nhaphocto"  type="text" size="10" placeholder="Đến"/>
                    </div>
              </div>
        <br>
              <div class="form-group">
                  <label class="col-md-2" class="control-label"> Ngày thôi học</label>
                    <div class="col-md-2">
                      <input class="form-control datepicker" name="thoihocfrom" type="text"  size="10" placeholder="Từ"/>
                    </div>
                    <div class="col-md-2">
                      <input class="form-control datepicker" name="thoihocto" type="text" size="10" placeholder="Đến"/>
                    </div>
              </div>
        <br>        	   
              <div class="form-group">
                  <div class="col-md-2 col-md-offset-6">
                       <button class="btn btn-info" value="search" type="submit" name="a"><span class="glyphicon glyphicon-search"></span> Tìm</button>
                    </div>
              </div>
  </form>
</div>
<form action="{$url}index.php/main/hocsinh/delete" method="post">
<div class="panel panel-primary filterable">
            			<div class="panel-heading">
               				 <h3 class="panel-title">Danh sách học sinh <span class="badge">{count($danhsach)}</span></h3>
                			<div class="pull-right">
                    		<a class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Lọc</a>
                			</div>
            			</div>
				            <table class="table table-hover">
				                <thead>
				                    <tr class="filters">
                                      <th width="5%" scope="col"><div align="center"><!--<input type="checkbox" id="cbAll">--><button type="submit" style="border:none; background:none;" data-toggle="tooltip" data-placement="top" title="Xóa học sinh" onClick="return confirm('Bạn có chắc chắn muốn xóa những học sinh đã chọn?')" name="btnDelete" ><div class="glyphicon glyphicon-trash"></div></button></div></th>
									  <th width="7%" scope="col"><input type="text" class="form-control" placeholder="Mã số" disabled></th>
                                      <th width="18%" scope="col"><input type="text" class="form-control" placeholder="Họ và tên" disabled></th>
                                      <th width="12%" scope="col"><input type="text" class="form-control" placeholder="Ngày sinh" disabled></th>
                                      <th width="14%" scope="col"><input type="text" class="form-control" placeholder="Trường theo học" disabled></th>
                                      <th width="13%" scope="col"><input type="text" class="form-control" placeholder="Ngày nhập học" disabled></th>
                                      <th width="13%" scope="col"><input type="text" class="form-control" placeholder="Trạng thái" disabled></th>
                                      <th width="14%" scope="col"><div align="center">Thao tác</div></th>
       		                      </tr>
				                </thead>
				                <tbody>
   								  {foreach $danhsach as $thutu => $item}
				                    <tr>
                                         <td><div align="center">
                                           <input type="checkbox" name="hocsinhid[]" value="{$item.HOCSINH_id}"  {if $item.HOCSINHDAXEPLOP != NULL} disabled {else} class="checkbox1" {/if}>
                                           <input type="hidden" name="danhsachhs[{$item.HOCSINH_id}]">
                                      </div></td>
                                         <td><div align="left">{$item.HOCSINH_id}</div></td>
                                          <td><a href="{$url}index.php/main/hocsinh/view_report/{$item.HOCSINH_id}">{$item.HOCSINH_ten}</td>
                                          <td>{if $item.HOCSINH_ngaysinh!='' && $item.HOCSINH_ngaysinh!='0000-00-00' && $item.HOCSINH_ngaysinh!='30-11--0001'}{date('d-m-Y', strtotime($item.HOCSINH_ngaysinh))}{/if}</td>
                                          <td>{$item.HOCSINH_truonghientai}</td>
                                          <td>{if $item.HOCSINH_ngaynhaphoc!='' && $item.HOCSINH_ngaynhaphoc!='0000-00-00' && $item.HOCSINH_ngaynhaphoc!='30-11--0001'}{date('d-m-Y', strtotime($item.HOCSINH_ngaynhaphoc))}{/if}</td>
                                          <td>
                                          <input type="checkbox" name="hocsinhdongbangid[]" value="{$item.HOCSINH_id}"  {if $item.HOCSINH_trangthai == 1} checked {else}  {/if} data-toggle="toggle" data-on="Đang học" data-off="Đóng băng" data-onstyle="success" data-offstyle="info">
                                          </td>
                                          <td>
                                          <a href="{$url}index.php/main/hocsinh/view/{$item.HOCSINH_id}" ><button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Xem thông tin học sinh"><span class="glyphicon glyphicon-eye-open" > </span></button></a> 
                                          <a href="{$url}index.php/main/hocsinh/edit/{$item.HOCSINH_id}" ><button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Sửa thông tin học sinh"><span class="glyphicon glyphicon-pencil" > </span></button></a> 
                                          <a {if $item.HOCSINHDAXEPLOP == NULL}href="{$url}index.php/main/hocsinh/delete/{$item.HOCSINH_id}" onClick="return confirm('Bạn có chắc chắn không?')"  data-toggle="tooltip" data-placement="top" title="Xóa học sinh khỏi hệ thống" {/if}><button class="btn btn-danger" type="button" {if $item.HOCSINHDAXEPLOP != NULL} disabled{/if}><span class="glyphicon glyphicon-trash"> </span></button></a>                                         
                                          </td>      
				                    </tr>
                                   {/foreach}				                    
				                </tbody>
				            </table>
	</div>
   <p><button name="btnDongbang" class="btn btn-info btn-lg" style="float:left" data-toggle="tooltip" data-placement="right" title="Cập nhật lại trạng thái đóng băng của học sinh" onClick="return confirm('Bạn có chắc chắn cập nhật trạng thái đóng băng của học sinh?')"><span class="glyphicon glyphicon-lock"> </span> Cập nhật</button>
   <button name="btnUpfileexcel" class="btn btn-success btn-sm" style="float:right"  id="btnUpfileexcel"><img src="{$url}resource/images/excel.png">Import file excel</button></p>
   <br><br><br>
   <p align="right"><a href="{$url}uploads/template_excel.xlsx">Tải về mẫu file upload</a></p>   
</form>

<form action="" method="post">
<input type="hidden" value="" name="fileExcelName" id="fileExcelName">
<p><button type="submit" name="btnreadfile" id="btnreadfile" class="btn btn-primary btn-sm" style="float:right; margin-right:10px; display:none">Đọc file</button></p>
</form>

<div class="btn-group" role="group" style="position:absolute; right:35px; top:106px">
					                        <div class="dropdown dropdown-lg">
					                            <button type="button" class="btn btn-info" id="btnSearch" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-search">  </span>  Tìm kiếm</button>
					                        </div>
					          
</div>			        		        
			
{$phantrang->create_links()}

<script>
 	$(document).ready(function(e) {
	/*************************** Datepick day - month only ********/
					$('.datepicker2').datetimepicker({ lang:'vi', timepicker:false, format:'d-m' });
	/************************* Search ********************/
					$('#btnSearch').click(function(e) {
                        $('.formsearch').toggle('slow');
                    });
		
	/*********************** Filter ************************/				
				    $('.filterable .btn-filter').click(function(){  
				        var $panel = $(this).parents('.filterable'),
				        $filters = $panel.find('.filters input'),
				        $tbody = $panel.find('.table tbody');
				        if ($filters.prop('disabled') == true) {
				            $filters.prop('disabled', false);
				            $filters.first().focus();
				        } else {
				            $filters.val('').prop('disabled', true);
				            $tbody.find('.no-result').remove();
				            $tbody.find('tr').show();
				        }
				    });

				    $('.filterable .filters input').keyup(function(e){
				        var code = e.keyCode || e.which;
				        if (code == '9') return;
				        
				        var $input = $(this),
				        inputContent = $input.val().toLowerCase(),
				        $panel = $input.parents('.filterable'),
				        column = $panel.find('.filters th').index($input.parents('th')),
				        $table = $panel.find('.table'),
				        $rows = $table.find('tbody tr');
				        
				        var $filteredRows = $rows.filter(function(){
				            var value = $(this).find('td').eq(column).text().toLowerCase();
				            return value.indexOf(inputContent) === -1;
				        });
				        
				        $table.find('tbody .no-result').remove();
				        
				        $rows.show();
				        $filteredRows.hide();
				        
				        if ($filteredRows.length === $rows.length) {
				            $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">Sao lại không tìm thấy nhỉ?? Hay là gõ nhầm chăng?</td></tr>'));
				        }
				    });
	/*********************** Upload file excel ************************/				
					new AjaxUpload($('#btnUpfileexcel'),{ 
						action : '{$url}index.php/main/upload/importfileexcel/'+{date('hisdmY')},
						name   :  'formup',	
						onComplete: function(file, response) {
							if (response=='Error')
								alert ('Upload xảy ra lỗi');
							else
							{
								$('#btnUpfileexcel').css('display', 'none'); 
								$('#btnreadfile').css('display', 'block'); 
								$('#fileExcelName').val(response);
								alert('Import file excel thành công!! Ấn ĐỌC FILE để lưu dữ liệu vào hệ thống');
							}
						}
			}); 
});
</script>


