<div class="panel-body">
          <center> 
                        <p><img src="{$url}resource/images/studenticon.png" width="75" height="76" /></p>
                        <h3><strong>Báo cáo học sinh</strong></h3>
                    </center>
                <br>
                
                <div class="col-sm-6">
               <form id="form1" name="form1" class="form-horizontal" method="post" action="">
                      <div class="form-group">
                    <img src="{$url}resource/images/name.png" class="col-sm-2" style="height: auto; max-width: 12%"/>
                    <label class="col-sm-3" class="control-label">Họ và Tên</label>
                    <div class="col-sm-7">
                      <input class="form-control" value="{$hocsinh.HOCSINH_ten}" type="text" id="hoten" size="30" disabled/> 
                      {foreach $nhomnguoidung as $value}
                      	{if $value.NHOMNGUOIDUNG_id==6 || $value.NHOMNGUOIDUNG_id==5 || $value.NHOMNGUOIDUNG_id==7} <a href="{$url}index.php/main/hocsinh/edit/{$hocsinh.HOCSINH_id}" target="_blank">Xem thông tin</a>     
                        {break}                   
                        {/if}
                      {/foreach}
                    </div>
                  </div>
                  <div class="form-group">
                    <img src="{$url}resource/images/calendaricon.png" class="col-sm-2"  style="height: auto; max-width: 12%"/>
                    <label class="col-sm-3" class="control-label">Ngày Sinh</label>
                    <div class="col-sm-7">
                      <input class="form-control" value="{if $hocsinh.HOCSINH_ngaysinh!='' && $hocsinh.HOCSINH_ngaysinh!='0000-00-00' && $hocsinh.HOCSINH_ngaysinh!='30-11--0001'}{date('d-m-Y', strtotime($hocsinh.HOCSINH_ngaysinh))}{/if}" type="text" id="" size="30" disabled/>
                    </div>
                  </div>
                  <div class="form-group">
                    <img src="{$url}resource/images/sex.png" class="col-sm-2"  style="height: auto; max-width: 12%"/>
                    <label class="col-sm-3" class="control-label">Giới Tính</label>
                    <div class="col-sm-7">
                      <label>
            <input type="radio"  value="1" {if $hocsinh.HOCSINH_gioitinh==1} checked {/if}>
            <img src="{$url}resource/images/male.png"></label>
          <label>
            <input type="radio" value="0"  {if $hocsinh.HOCSINH_gioitinh==0} checked {/if}>
            <img src="{$url}resource/images/female.png"></label>
                    </div>
                  </div>
                  <div class="form-group">
                    <img src="{$url}resource/images/calendaricon.png" class="col-sm-2"  style="height: auto; max-width: 12%"/>
                    <label class="col-sm-3" class="control-label">Ngày nhập học</label>
                    <div class="col-sm-7">
                      <input class="form-control" value="{if $hocsinh.HOCSINH_ngaynhaphoc!='' && $hocsinh.HOCSINH_ngaynhaphoc!='0000-00-00' && $hocsinh.HOCSINH_ngaynhaphoc!='30-11--0001'}{date('d-m-Y', strtotime($hocsinh.HOCSINH_ngaynhaphoc))}{/if}" type="text" id="" size="30" disabled/>
                    </div>
                  </div>
                  <br>
                  </div>
                 </form>
                  <div class="col-sm-6">  
                   <form id="form1" name="form1" class="form-horizontal" method="post" action="">
                        <div class="form-group">
                          <img src="{$url}resource/images/status.png" class="col-sm-2" style="height: auto; max-width: 12%"/>
                          <label class="col-sm-3" class="control-label">Trạng thái</label>
                          <div class="col-sm-7">
                            <input class="form-control" name="" type="text" id="" size="" disabled/>
                          </div>
                        </div>
                        <div class="form-group">
                          <img src="{$url}resource/images/coloricon.png" class="col-sm-2" style="height: auto; max-width: 12%"/>
                          <label class="col-sm-3" class="control-label">Màu vòng</label>
                            <div class="col-sm-7"> {if $hocsinh['HOCSINH_level-hientai']}
                              <input type="color" name="mau" class="form-control" value="{$hocsinh['HOCSINH_level-hientai']}" disabled="">
                              {/if}
                            </div>
                        </div>
                        <div class="form-group">
                          <img src="{$url}resource/images/asset.png" class="col-sm-2" style="height: auto; max-width: 12%"/>
                          <label class="col-sm-3" class="control-label">Tài sản sở hữu</label>
                            <div class="col-sm-7">
                              {if $hocsinh['HOCSINH_level-hientai']!=''}
                              {foreach $taisan as $item}
                              	{if $hocsinh['HOCSINH_level-hientai'] == $item.DIEMLENVONG_mauvong}
                                	<img src="{$url}{$item.DIEMLENVONG_linkanh}" style="height:auto; max-width: 25%"/>
                                	{break}
                                {else}
                              		<img src="{$url}{$item.DIEMLENVONG_linkanh}" style="height:auto; max-width: 25%"/>
                                {/if}
                              {/foreach}
                              {/if}
                            </div>
                        </div>

                   </form>
                </div>

           
                    <div class="col-md-6 col-md-offset-3">
                      <div class="panel panel-primary">
                      <div class="panel-heading">
                          <h3 class="panel-title">Danh sách lớp</h3>
                      </div>
                        <table class="table">
                            <tbody>
                              <tr>
                                  <td><strong>Năm học</strong></td>
                                  <td><strong>Khối học</strong></td>
                                  <td><strong>Tên môn</strong></td>  
                                  <td><strong>Thao tác</strong></td>  
                              </tr>
                              {foreach $loptheohoc as $detail}
                              <tr>
                                  <td>{$detail.MONKHOI_namhoc}</td>
                                  <td>{$detail.KHOIHOC_sokhoi}</td>
                                  <td>{$detail.MONHOC_tenmon}</td>  
                                  <td><a href="{$url}index.php/main/hocsinh/view_report/{$hocsinh.HOCSINH_id}/{$detail.MONKHOI_id}/diemso"><button type="button" class="btn btn-info"> Xem điểm</button></a></td>           
                              </tr>
                              {/foreach}
                              </tbody>
                        </table>
                      </div>
                    </div>
                 </form>
                 {if isset($detaillop) && count($detaillop)>0}
                 <div class="col-md-12">
                     <ul class="nav nav-tabs">
                              <li role="presentation" {if isset($diemso)} class="active" {/if}><a href="{$url}index.php/main/hocsinh/view_report/{$hocsinhid}/{$monkhoiid}/diemso">Điểm số</a></li>
                              <li role="presentation" {if isset($diemdanh)} class="active" {/if}><a href="{$url}index.php/main/hocsinh/view_report/{$hocsinhid}/{$monkhoiid}/diemdanh">Điểm danh</a></li>
                     </ul>
                     {if isset($diemso)}
                     <div class="panel panel-primary">
                          <div class="panel-heading">
                              <h3 class="panel-title">Điểm số của học sinh</h3>
                          </div>
                            <table class="table">
                                <tbody>
                                  <tr>
                                      <td width="10%"><strong>Tên bài chấm</strong></td>
                                      <td width="8%"><strong>Điểm số</strong></td>
                                      <td width="8%"><strong>Hệ số điểm</strong></td>
                                      <td width="10%"><strong>Ngày chấm</strong></td>
                                      <td width="35%"><strong>Lời phê-nhận xét</strong></td>    
                                  </tr>
                                  {assign var="diemtong" value=0}
                                  {assign var="daudiem" value=0}
                                  {assign var="diemtb" value=0}
                                  {foreach $diemso as $diem}
                                  <tr>
                                     <td>{$diem.BAICHAM_ten}</td>                
                                     <td><div align="left">{$diem.DIEM_sodiem}</div></td>    
                                     <td><div align="left">{$diem.DIEM_heso} {if $diem.DIEM_heso == 1}{$daudiem = $daudiem + $diem.DIEM_heso}</div></td>
                                     	{$diemtong = $diemtong + ($diem.DIEM_sodiem * $diem.DIEM_heso)}{/if}
                                     <td><div align="left">{date('d-m-Y', strtotime($diem.TIETHOC_ngayhoc))}</div></td>    
                                     <td><div align="left">{if $diem.DIEM_sodiem==0 && ($diem.DIEM_trangthai==-1)}Học sinh không nộp bài{else}{$diem.DIEM_nhanxet}{/if}</div></td>                
                                  </tr>
                                  {/foreach}
                                  </tbody>
                            </table>                            
                     </div>
                     <span style="color:red; font-weight:bold; font-size:15px">Điểm trung bình BTVN của học sinh: {if $daudiem!=0}{$diemtb = $diemtong / $daudiem}{/if}{$diemtb}</span>
                    {/if}
                 </div>   
                 {if isset($diemdanh)}
                 <div class="col-md-12">
                  <div class="panel panel-primary">
                      <div class="panel-heading">
                          <h3 class="panel-title">Thông tin điểm danh của học sinh</h3>
                      </div>
                        <table class="table">
                            <tbody>
                              <tr>
                                  <td width="8%"><strong>Ngày học</strong></td>
                                  <td width="9%"><strong></strong><strong>Điểm danh</strong></td>
                                  <td width="10%"><strong>Điểm thưởng</strong></td>
                                  <td width="45%"><strong>Nhận xét</strong></td>      
                              </tr>
                             </thead>
                              {assign var="tiethocnghi" value=0}
                              {foreach $diemdanh as $item}
                              <tr>   
                              	 <td><strong>{date('d-m-Y', strtotime($item.TIETHOC_ngayhoc))}</strong></td>
                                 <td><strong>{if $item.DIEMDANH_present==1}Có mặt{/if}
                                 {if $item.DIEMDANH_present==0}<span style="color:red">Vắng mặt</span>{$tiethocnghi = $tiethocnghi + 1}{/if}
                                 {if $item.DIEMDANH_present==-1}<span style="color:grey; font-weight:200">Chưa học<span>{/if}</strong></td>
                                 <td><div align="left"><strong>{$item.DIEMDANH_bonus}</strong></div></td>
                                 <td><div align="left"><strong>{$item.DIEMDANH_nhanxet}</strong></div></td>
                              </tr>                              
                              {/foreach}
                              </tbody>
                        </table>
                      </div>
                      <span style="color:red; font-weight:bold; font-size:15px">Số tiết học nghỉ: {$tiethocnghi}</span>

                 </div>    
                
                {/if}
			{/if}
</div>