<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
				<div class="page-header">
					<div class="page-header-content">
						<div class="page-title">
							<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Tạo tài khoản mới</span></h4>
						</div>
							
					</div>

					<div class="breadcrumb-line">
						<ul class="breadcrumb">
							<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
							<li><a href="index.html">Quản lí bảo tàng</a></li>
							<li class="active">FU Museum FPT</li>
						</ul>

						
					</div>
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">
				<!-- 2 columns form -->
					<form action="" method="POST">
						<div class="panel panel-flat">					

							<div class="panel-body">
								<div class="row">
									<div class="col-md-6">
										<fieldset>
											<legend class="text-semibold"><i class="icon-reading position-left"></i> Thông tin tài khoản</legend>
											<div class="form-group">
												<label>Email:</label>
												<input type="text" class="form-control" name="txtEmail" required="" placeholder="Email">
											</div>

											<div class="form-group">
												<label>Mật khẩu:</label>
												<input type="password" class="form-control" name="txtPassword" placeholder="Your strong password" required="" placeholder="Mật Khẩu">
											</div>
											
											<div class="form-group">
											<label class="display-block">Quyền hạn:</label>

											<label class="radio-inline">
												<input type="radio" class="styled" name="txtRole" value ="1" checked="checked">
												Admin
											</label>

											<label class="radio-inline">
												<input type="radio" class="styled"  value ="2" name="txtRole">
												User
											</label>
										</div>
										
										<div class="form-group">
											<label class="display-block">Trạng thái:</label>

											<label class="radio-inline">
												<input type="radio" class="styled" name="status" value="1" checked="checked">
												Active
											</label>

											<label class="radio-inline">
												<input type="radio" class="styled" value="0" name="status">
												Deactive
											</label>
										</div>											
										</fieldset>
									</div>

									<div class="col-md-6">
										<fieldset>
						                	<legend class="text-semibold"><i class="icon-office position-left"></i> Thông tin bảo tàng</legend>

											<div class="row">
												<div class="col-md-8">
													<div class="form-group">
														<label>Tên bảo tàng:</label>
														<input type="text" placeholder="" name="txtMuseumName" class="form-control">
													</div>
												</div>												
											</div>		

											

											<div class="row">
												<div class="col-md-3">
													<div class="form-group">
														<label>Số nhà:</label>
														<input type="text" name="txtHouse" placeholder="" class="form-control">
													</div>
												</div>

												<div class="col-md-3">
													<div class="form-group">
														<label>Xã/Huyện/Quận:</label>
														<input type="text" placeholder="" name="txtStreet" class="form-control">
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group">
														<label>Tỉnh/ Thành phố:</label>
														<input type="text" placeholder="" name="txtCity" class="form-control">
													</div>
												</div>
											</div>

											<div class="form-group">
												<label>Điện thoại:</label>
												<input type="text" placeholder="" name="txtPhone" class="form-control">
											</div>
											
											<div class="form-group">
												<label>Website:</label>
												<input type="text" placeholder="" name="txtWebsite" class="form-control">
											</div>
										</fieldset>
									</div>
								</div>

								<div class="text-right">
									<button type="submit" class="btn btn-primary" name="btnSave">Thêm Tài Khoản <i class="icon-arrow-right14 position-right"></i></button>
								</div>
							</div>
						</div>
					</form>
					<!-- /2 columns form -->
					


					<!-- Footer -->
					<div class="footer text-muted">
						&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->